@{
    ViewData["Title"] = "Home Page";
}

<section class="hero">
    <video playsinline autoplay muted loop id="hero-video">
        <source src="~/videos/The Rolex Submariner - ROLEX (1080p, h264).mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="hero-content">
        <h1>Time is Money.</h1>
        <p class="lead">How much are you worth?</p>
        <a href="#" class="btn btn-lg">Explore Now</a>
    </div>
</section>

<div class="container my-5 fade-in">
    <h2 class="text-center mb-5">Featured Products</h2>
    <div class="product-grid">
        @foreach (var product in Model)
        {
            <div class="product-card">
                <img src="@product.ImageUrl" alt="@product.Name" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                </div>
                <div class="product-card-footer">
                    R @product.Price
                </div>
            </div>
        }
    </div>
</div>
<div class="container my-5 fade-in">
    <h2 class="text-center mb-5">Shop by Category</h2>
    <div class="row text-center">
        <div class="col-md-4">
            <img src="https://st10275164.blob.core.windows.net/product-images/daa00266-f30b-4a68-9c51-17d45293dbee_27582700_57343908_1000.webp" class="img-fluid rounded-circle mb-3" alt="Luxury">
            <h4>Luxury</h4>
        </div>
        <div class="col-md-4">
            <img src="https://st10275164.blob.core.windows.net/product-images/06bd7cd8-e325-4d8f-9825-1e02f07adddb_23979915_54017212_1000.webp" class="img-fluid rounded-circle mb-3" alt="Casual">
            <h4>Casual</h4>
        </div>
        <div class="col-md-4">
            <img src="https://st10275164.blob.core.windows.net/product-images/1c02c399-da62-4adc-8ebc-7f3368db0cff_28457217_59671741_1000.webp" class="img-fluid rounded-circle mb-3" alt="Lifestyle">
            <h4>Lifestyle</h4>
        </div>
    </div>
</div>